* {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
#__next {
  height: 100%;
  width: 100%;
}

.page {
  display: grid;
  height: 100%;
  width: 100%;
  align-content: center;
  justify-content: center;
}

.page-title {
  font-size: 8rem;
  transition: text-shadow 0.5s ease-out;
}
