* {
  box-sizing: border-box;
  margin: 0;
}

.page {
  display: grid;
  height: 100vh;
  width: 100vw;
  align-content: center;
  justify-content: center;
}

.page-title {
  font-size: 8rem;
  transition: text-shadow 0.5s ease-out;
}
